.menuList {
  @apply hidden md:flex gap-6;
  li {
    @apply cursor-pointer text-sm;
  }
}

.options {
  @apply p-3 hover:bg-lightGrey transition-all;
}

.productDropdown {
  @apply flex divide-x-[1px];
  ul {
    > :first-child {
      @apply font-semibold mb-2 hover:bg-white cursor-default;
    }
    li {
      @apply min-w-[200px] hover:bg-[#fafafa] py-1 px-5;
    }
  }
}

.submenu {
  @apply absolute pt-7;
  top: 50%;
  left: 50%;
  transform: translateX(-58%) translateY(10px);
}
