@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container {
  @apply max-w-[1440px] mx-auto px-4;
}

.input {
  @apply p-3 outline-none w-full h-8 md:h-10;
}
.button {
  @apply px-3 h-8 md:px-6 md:h-10 outline-none;
  &.dark-button {
    @apply bg-darkGrey text-white;
    &:hover {
      @apply bg-primary transition-all;
    }
  }
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.title {
  @apply text-headline4 font-semibold;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @apply w-5 h-5 border-[2px] border-[#eaeaea] cursor-pointer;
}

input[type="checkbox"]:checked {
  background-color: #2196f3;
  border-color: #2196f3;
  display: flex;
}

.divider {
  &.horizontal {
    @apply w-full h-[1px] bg-gray-300;
  }
}
